header {
  background-color: mediumblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px 3px;
  border-bottom: 1px solid #BBB;
  box-shadow: 0 8px 6px -6px #BBB;
}

header h1 {
  color: white;
  display: block;
  font-size: 18px !important;
  font-weight: normal !important;
}

.user-avatar {  
  border-radius: 50%;
  margin-right: 10px;
}

.btn-login {
  margin-left: 20px;
  margin-top: -5px;
}
